/* 
    || BASIC SETUP
*/
:root {
  --color-primary-very-dark-blue: hsl(233, 47%, 7%);
  --color-primary-dark-desaturated-blue: hsl(244, 38%, 16%);
  --color-primary-soft-violet: hsl(277, 64%, 61%);
  --color-white: hsl(0, 0%, 100%);
  --color-slightly-transparent-white-1: hsla(0, 0%, 100%, 0.75);
  --color-slightly-transparent-white-2: hsla(0, 0%, 100%, 0.6); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400; }

/*
    || CARD COMPONENT
*/
.container {
  background-color: var(--color-primary-very-dark-blue);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center; }

.card {
  max-width: 111rem;
  background-color: var(--color-primary-dark-desaturated-blue);
  color: var(--color-white);
  border-radius: 1rem;
  overflow: hidden;
  display: flex; }
  .card__detail {
    padding: 7rem 7rem 6.8rem 7rem; }
  .card__photo {
    display: flex;
    background: var(--color-primary-soft-violet);
    flex: 0 0 50%; }
  .card__photo img {
    object-fit: cover;
    mix-blend-mode: multiply;
    opacity: .75;
    width: 100%; }

/* || Typography */
.heading {
  font-size: 3.6rem;
  margin-bottom: 2rem; }
  .heading span {
    color: var(--color-primary-soft-violet); }

.paragraph {
  color: var(--color-slightly-transparent-white-1);
  margin-bottom: 8rem;
  line-height: 2.5rem; }

/* || Stats */
.stats {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-right: 4.2rem; }
  .stats__count {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 2.3rem; }
    .stats__count span {
      font-family: 'Lexend Deca', sans-serif;
      font-weight: 400;
      font-size: 1.19rem;
      text-transform: uppercase;
      color: var(--color-slightly-transparent-white-2);
      margin-top: .7rem;
      letter-spacing: 0.1rem; }

/*
    || MEDIA QUERIES
*/
@media only screen and (max-width: 59.37em) {
  .card {
    flex-wrap: wrap-reverse;
    text-align: center; }
    .card__detail {
      padding: 5rem 5rem 5.8rem 5rem; }
    .card__photo {
      flex: 1; }
    .card__photo img {
      flex: 1;
      width: 100%; }
  .paragraph {
    margin-bottom: 3.7rem; }
  .stats {
    margin: 0; } }

@media only screen and (max-width: 25.87em) {
  .card__detail {
    padding: 3.5rem 5rem 1rem 5rem; }
  .heading {
    font-size: 2.8rem; }
  .stats {
    flex-direction: column; }
    .stats__count span {
      margin-bottom: 3rem; } }
