/* 
    || BASIC SETUP
*/

:root {
    --color-primary-very-dark-blue: hsl(233, 47%, 7%); // (main background)
    --color-primary-dark-desaturated-blue: hsl(244, 38%, 16%); // (card background)
    --color-primary-soft-violet: hsl(277, 64%, 61%); // (accent)

    --color-white: hsl(0, 0%, 100%); // (main heading, stats)
    --color-slightly-transparent-white-1: hsla(0, 0%, 100%, 0.75); // (main paragraph)
    --color-slightly-transparent-white-2: hsla(0, 0%, 100%, 0.6); // (stat headings)
}

$bp-medium: 59.37em;     //  900px
$bp-small: 25.87em;      //  414px

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}