/*
    || CARD COMPONENT
*/

.container {
    background-color: var(--color-primary-very-dark-blue);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 111rem;
    background-color: var(--color-primary-dark-desaturated-blue);
    color: var(--color-white);
    border-radius: 1rem;
    overflow: hidden;

    display: flex;
    
    &__detail {
        padding: 7rem 7rem 6.8rem 7rem;
    }

    &__photo {
        display: flex;
        background: var(--color-primary-soft-violet);
        flex: 0 0 50%;
    }
    
    &__photo img{
        object-fit: cover;
        mix-blend-mode: multiply;
        opacity: .75;
        width: 100%;
    }
}

/* || Typography */

.heading {
    font-size: 3.6rem;
    margin-bottom: 2rem;

    span {
        color: var(--color-primary-soft-violet);
    }

}

.paragraph {
    color: var(--color-slightly-transparent-white-1);
    margin-bottom: 8rem;
    line-height: 2.5rem;
}

/* || Stats */

.stats {

    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 4.2rem;

    &__count {
        display: flex;
        flex-direction: column;
        font-weight: 700;
        font-size: 2.3rem;

        span {
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 400;
            font-size: 1.19rem;
            text-transform: uppercase;
            color: var(--color-slightly-transparent-white-2);
            margin-top: .7rem;
            letter-spacing: 0.1rem;
        }
    }
}

/*
    || MEDIA QUERIES
*/

@media only screen and (max-width: $bp-medium) {

    .card {

        flex-wrap: wrap-reverse;
        text-align: center;

        &__detail { padding: 5rem 5rem 5.8rem 5rem; }

        &__photo { flex: 1; }

        &__photo img {
            flex: 1;
            width: 100%
        }
    }

    .paragraph { margin-bottom: 3.7rem; }

    .stats { margin: 0; }
}


@media only screen and (max-width: $bp-small) {

    .card {

        &__detail { padding: 3.5rem 5rem 1rem 5rem; }
    }

    .heading { font-size: 2.8rem; }

    .stats {
        
        flex-direction: column;

        &__count {
            span { margin-bottom: 3rem; }
        }
    }
}