
/* 
    || CARD COMPONENT 
*/

.card {
    max-width: 111.2rem;
    margin: 26.5rem auto;
    background-color: var(--color-primary-dark-desaturated-blue);
    color: #fff;
    min-height: 44.4rem;
    border-radius: 1rem;
    overflow: hidden;

    display: flex;

    @include respond(tab-land) {
        max-width: 110rem;
    }

    @include respond(tab-port) {
        flex-direction: column-reverse;
        margin: 2rem 3rem; 
        height: 90vh; 
        text-align: center;
    }

    &__detail {
        background-color: var(--color-primary-dark-desaturated-blue);
        padding: 7rem 7rem 6.7rem 7rem;
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;

        @include respond(tab-port) {
            padding: 7rem 7rem 3.9rem 7rem;
        }
        
        @include respond(large-phone) {
            padding: 5rem 5rem 3rem 5rem;
            flex: 0 0 60%;
        }

        @include respond(small-phone-2) {
            flex: 0 0 65%;
            padding: 4rem 4rem 2rem 4rem;
        }
        
        @include respond(small-phone) {
            padding: 3.5rem 2.5rem 2.2rem 2.5rem;
            flex: 0 0 70%;
        }
    }
    
    &__photo {
        flex: 1;
        background-image: linear-gradient(hsl(277, 64%, 61%), hsl(277, 64%, 61%)), url(../img/image-header-desktop.jpg);
        background-size: cover;
        background-blend-mode: multiply;
        
        @include respond(tab-land) {
            background-image: linear-gradient(hsl(277, 64%, 61%), hsl(277, 64%, 61%)), url(../img/image-header-mobile.jpg);
        }
    }
}

/* 
    || Typography
*/

.heading {
    font-size: 3.6rem;
    margin-bottom: 3rem;

    span {
        color: var(--color-primary-soft-violet);
    }

    @include respond(large-phone) {
        margin-bottom: 1.5rem;
    }
}

.paragraph {
    color: var(--color-slightly-transparent-white-1);
    line-height: 2.5rem;
    margin-right: 3rem;
    margin-bottom: auto;

    @include respond(tab-land) {
        margin-right: 0;
    }

    @include respond(small-phone) {
        margin-bottom: 16%;
    }
}

/* 
    || Stats 
*/

.stats {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 7rem;

    @include respond(tab-port) {
        margin-right: 0;
    }

    @include respond(large-phone) {
        flex-direction: column;
        align-items: center;
    }

    &__count {
        display: flex;
        flex-direction: column;

        font-weight: 700;
        font-size: 2.3rem;

        @include respond(small-phone) {
            font-size: 3rem;
        }
    }

    &__feature {
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 400;
        color: var(--color-slightly-transparent-white-2);
        font-size: 1.19rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        margin-top: .7rem;

        @include respond(large-phone) { 
            margin-bottom: 2rem;
        }
        
        @include respond(small-phone) { 
            margin-bottom: 3rem;
            font-size: 1.4rem;
        }
    }
}